.git
**/.git
.gitignore
**/.DS_Store
**/.venv
**/__pycache__
**/*.pyc
**/*.pyo
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/*.egg-info
**/node_modules
dist
build
example-app/example_app/views/_server
example-app/example_app/views/_ssr
example-app/example_app/views/_static
example-app/example_app/views/_metadata
